.profile {
    position: relative;
    width: 50%;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile:hover .image {
  opacity: 0.3;
}

.profile:hover .middle {
  opacity: 1;
}

.text {
  color: "white";
  padding: 16px 32px;
}

h4, h5 {
  font-family: "Karla", sans-serif;
  color: "black";

}
